/* 
Name: Up Style
URL: https://www.upstyleapp.com
Project: https://github.com/kpmnta/yourself 
Description: Landing Page do projeto da StartUp 'Up Style' desenvolvido durante o desafio "show me the startup" 
Author: Juliane Pires, Kai Pimenta, Pedro Valença
Author URI: https://github.com/JulianePires | https://github.com/kpmnta | https://github.com/PedroVPrado
Version: 1.0.0 
*/

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    width: 100%;
    background: #262424;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
    width: 100%;
    background: #262424;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    flex-wrap: wrap;
}

#textFooter{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 2vw;
}



#logoCabide{
    max-width: 118px;
    height: auto;
    margin: 10px;
}

#logoName{
    max-width: 258px;
    height: auto;
    margin: 10px;

}

#socialMedia{
    margin: 10px;
}

#socialMediaFooter{
    margin: 10px;
}

#facebook{
    max-width: 23px;
    height: auto;
    
}

#instagram{
    max-width: 48px;
    height: auto;
    margin-left: 30px;

}

@media (min-width: 790px) 
{
    .header {
        justify-content: flex-start;
    }

    #socialMedia{
        margin-left: 50%;
    }
}

@media (min-width: 1020px) {
    #socialMedia{
        margin-left: 60%;
    }

}