/* 
Name: Up Style
URL: https://www.upstyleapp.com
Project: https://github.com/kpmnta/yourself 
Description: Landing Page do projeto da StartUp 'Up Style' desenvolvido durante o desafio "show me the startup" 
Author: Juliane Pires, Kai Pimenta, Pedro Valença
Author URI: https://github.com/JulianePires | https://github.com/kpmnta | https://github.com/PedroVPrado
Version: 1.0.0 
*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;

}

.efeito-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.efeito-grow:hover, .efeito-grow:focus, .efeito-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.header {
    width: 100%;
    background: #262424;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
    width: 100%;
    background: #262424;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#textFooter{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 2vw;
}

#logoCabide{
    max-width: 118px;
    height: auto;
    margin: 10px;
}

#logoName{
    max-width: 258px;
    height: auto;
    margin: 10px;

}

#socialMedia{
    margin: 10px;
}

#socialMediaFooter{
    margin: 10px;
}

#facebook{
    max-width: 23px;
    height: auto;
    
}

#instagram{
    max-width: 48px;
    height: auto;
    margin-left: 30px;

}

@media (min-width: 790px) 
{
    .header {
        justify-content: flex-start;
    }

    #socialMedia{
        margin-left: 50%;
    }
}

@media (min-width: 1020px) {
    #socialMedia{
        margin-left: 60%;
    }

} 

/* section about */

.about-container {
    background-image: url(../img/fundo_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.about-container ul{
    display: flex;
    justify-content: space-evenly;
}

.about-texto {
    margin-top: 30px;
    padding: 45px;
}

.about-texto h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 28px;
    color: #000;
    padding-bottom: 14px;
}

.about-texto p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    padding-bottom: 45px;
}   

.align-right {
    text-align: right;
}

.about-button {
    display: flex;
    justify-content: flex-end;
    width: 280px;
    height: 65px;
    background: #262424;
    border: 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;  
}

.button-right {
    display: flex;
    justify-content: flex-end;
}

.about-button a {
    color: #fff;
    text-decoration: none;
    margin: auto;
}

/* section porque */
.porque-container h1 {
    color: #E51A2F;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 38px;
    margin: 40px 0 40px 40px;
}

.conteudo {
    display: flex;
    justify-content: space-around;

}

.lista-img{
    text-align: center;
}

.legenda{
    max-width: 250px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.porque-container h3 {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    color: #262424;
    padding: 20px 0;
}



/*INÍCIO PÁGINA PREMIUM / TOP PREMIUM*/
.mainPremium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#tituloPremium1 {
    max-width: 570px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    margin: 4vw;
}

#qrcode {
    max-width: 288px;
}

#tituloPremium2 {
    max-width: 824px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 4vw;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2vw;
    margin-bottom: 5vw;
}

.labels {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
}

.inputs {
    width: 562px;
    height: 57px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 1vw;
    margin-bottom: 1vw;
}

.botao {
    margin-top: 3vw;
    width: 282px;
    height: 67px; 
    background: #262424;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;  
}   
/*FIM PÁGINA PREMIUM / TOP PREMIUM*/

/* section planos disponiveis */

#planos{
    background-image: url(../img/fundo_02.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 838px;
    padding-bottom: 25px;
}

#planos h3{
    text-align: center;
    padding: 40px 0;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 28px;
    color: #262424;
}

.planos-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    max-width: 250px;
    text-align: center;
    background-color: #E51A2F;
    border: none;
    border-radius: 19px;
    color: #fff;
}

.card-subtitle {
    padding: 25px 0;
    font-family: 'Roboto', sans-serif;
}

.card-text {
    font-family: 'Roboto', sans-serif;

}

.padding {
    padding-bottom: 20px;
}
.btn-primary{
    padding: 10px 40px;
    background: #262424;
    border: none;
    border-radius: 0;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.btn-primary:hover{
    background: #000;
}



