/* 
Name: Up Style
URL: https://www.upstyleapp.com
Project: https://github.com/kpmnta/yourself 
Description: Landing Page do projeto da StartUp 'Up Style' desenvolvido durante o desafio "show me the startup" 
Author: Juliane Pires, Kai Pimenta, Pedro Valença
Author URI: https://github.com/JulianePires | https://github.com/kpmnta | https://github.com/PedroVPrado
Version: 1.0.0 
*/

*{
    margin: 0;
    padding: 0;
    border: 0;
}